<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: 'Email' %>
  </div>
  <div class="field">
    <%= f.text_field :status, placeholder: 'Where are you?' %>
  </div>
  <div class="field">
    <%= f.text_area :notes, placeholder: 'Notes', rows: '8' %>
  </div>
  <div class="field">
    <%= f.text_field :active_date, placeholder: Date.today, value: @user.new_record? ? '' : l(@user.active_date.to_date), 'data-behaviour' => 'datepicker'  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
