<h1><span>Where is everyone?</span></h1>

<h2><span>Current users not in the office</span></h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
<% if user.active_date.to_date === Date.today %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.status %></td>
    <td><%= user.notes %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'Create or Update your status', new_user_path %>
