<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status %>
</p>
  
<p>
  <b>Notes:</b>
  <%= @user.notes %>
</p>
  
<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>
  
<p>
  <b>Updated at:</b>
  <%= @user.updated_at %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
